# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/itamakershop?schema=public"

# Next Auth
NEXTAUTH_SECRET="gere-com: openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"

# Mercado Pago (developers.mercadopago.com.br)
MERCADOPAGO_ACCESS_TOKEN="seu-access-token"
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY="sua-public-key"
